<!DOCTYPE html>
<html>
<head>
	<style>
	table,th,td{
	border: 1px solid black;
	border-collapse: collapse;
}
th,td{
	width: 180px;
}
</style>
	
</head>
<body>
		<h1> You are at Customer list page</h1>
	<table>
		<tr>
		<th> Firstname   </th>
		<th> Lastname   </th>
		<th> Phonenumber   </th>
		<th> Email   </th>
		</tr>
		
		{%for i in data %}
		<tr>
		<td> {{i.name}} </td>
		<td> {{i.city}}</td>
		<td> {{i.phone}}</td>
		<td>{{i.email}}</td>
		</tr>
		{%endfor%}
	</table>

</body>
</html>